html {
    box-sizing: border-box;
  }
*, *:before, *:after {
box-sizing: inherit;
}

#container {
  width: 333px;
  padding: 5px;
  margin: auto;
  background-color: rgb(9, 79, 104);
}

#display{
  border: solid black 3px;
}

#displayNums {
  
  font-size: 50px;
  background-color: rgb(215, 239, 226);
}

#buttons {
  
  display: flex;
  justify-content: flex-start;
}

#numKeys {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  display:flex;
  width: 243px;
  gap: 1px;
  flex-wrap: wrap-reverse;
  flex-direction: row;
}

#ops {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  display:flex;
  width: 80px;
  gap: 1px;
  flex-wrap: wrap;
  flex-direction: row;
}

.numKeys {
  width: 80px;
  height: 80px;
  background-color: #c7cfff;
  font-size: 20px;
  
}

.operation {
  width: 80px;
  height: 80px;
  background-color: #51bd87;
  font-size: 20px;
  
}

#zero {
  width: 161px;
}

