html {
    box-sizing: border-box;
  }
*, *:before, *:after {
box-sizing: inherit;
}

#container {
  width: 336px;
  padding: 5px;
  background-color: #2a316a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p {
  color:#303030;
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-size: 50px;
  padding: 10px;
  text-align: right;
  background-color: #e4ebfe;
  margin-bottom: 4px;
}


#buttons {
  
  display: flex;
  justify-content: flex-start;
}

#numKeys {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  display:flex;
  width: 246px;
  gap: 2px;
  flex-wrap: wrap-reverse;
  flex-direction: row;
}

#ops {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  display:flex;
  width: 80px;
  gap: 2px;
  flex-wrap: wrap;
  flex-direction: row;
}

.numKeys {
  width: 80px;
  height: 80px;
  background-color: #c7cfff;
  font-size: 20px;
  
}

.operation {
  width: 80px;
  height: 80px;
  background-color: #51bd87;
  font-size: 20px;
  
}

#zero {
  width: 162px;
}

button {

  border-style: none;
  
}